.racing-logo {
    height: 100%;
    box-sizing: border-box;

    & img {
        height: 80%;
        margin-top: 0.2rem;
        margin-left: 0;

        &:hover {
            filter: sepia(100%) saturate(700%);
        }
    }

    @media (min-width: 992px) {
        & img {
            height: 95%;
            margin-top: 0;
            margin-left: 1.1rem;
        }
    }
}