.option {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;

    li {
        &.option-link {
            margin: 0;
            display: flex;
            width: auto;
            height: 100%;
            align-items: center;

            & a {
                color: white;
                text-decoration: none;
                height: 100%;
                width: auto;
                padding: 16px 10px;
                border-bottom: 4px solid transparent;

                &:hover,
                &.option-active {
                    background-color: rgb(230, 129, 129);
                    border-bottom: 4px solid rgb(255, 255, 137);
                    color: white;
                }
            }
        }
    }
}