.team-banner {
    height: 12rem;
    display: block;

    @mixin background($team) {
        background-image: url('../../assets/images/#{$team}.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    &__uxmox {
        @include background(uxmox);
    }

    &__confrenzy {
        @include background(confrenzy);
    }

    &__devaway {
        @include background(devaway);
    }

    &__euron {
        @include background(euron);
    }

    &__genesynk {
        @include background(genesynk);
    }

    &__vendblend {
        @include background(vendblend);
    }

    @media (max-width: 768px) {
        & {
            height: 8rem;
        }
    }

    @media (max-width: 575px) {
        & {
            height: 6rem;
        }
    }


}

.item-red {
    color: rgb(238, 72, 72);
}

.card {
    &.table-positions {
        margin-top: 1.5rem;
    }
}

.top-content {
    h2 {
        margin: 1rem 0 1rem 3rem;

        sup {
            font-size: 0.47em;
        }

        @media(max-width: 991px) {
            & {
                margin: 1rem 0 1rem 0;
                text-align: center;
            }
        }
    }

    img {
        border-radius: 7rem;
        height: auto;
        width: 14rem;
        margin-top: -5rem;
        margin-left: 3rem;

        &.img-thumbnail {
            background-color: rgb(238, 72, 72);
            border: 0;
            padding: 0.4rem;
        }

        @media(max-width: 991px) {
            & {
                width: 12rem;
                margin-top: -3rem;
                margin-left: 0;
            }
        }

        @media(max-width: 768px) {
            & {
                width: 10rem;
                margin-top: -2rem;
            }
        }

        @media(max-width: 575px) {
            & {
                width: 8rem;
                margin-top: -1rem;
                margin-left: 0;
            }
        }
    }

    .info {
        justify-content: space-around;

        h4 {
            text-align: center;
            padding: 2rem;
            width: 50%;
        }
    }

    @media(max-width: 991px) {
        .center-image {
            display: flex;
            justify-content: center;
        }
    }
}

.list-group {
    a.clickable {
        text-decoration: none;
    }

    .list-group-item {
        background-color: #f9f9f9;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);

        &:hover {
            background-color: #c0bebe;
        }

        .d-flex {
            align-items: center;

            p {
                color: black;
                margin-bottom: 0;
                text-align: left;
            }

            @media (max-width: 575px) {
                & {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
}