.footer-box {
    width: 100%;
    bottom: 0;
    background-color: rgb(238, 72, 72);
    color: #fff;
    margin-top: 2rem;

    .foot-list {
        margin: 0;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style-type: none;
            padding-top: 20px;
            margin-left: -30px;

            li {
                margin-right: 15px;

                a {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        color: rgb(255,255,137);
                    }
                }
            }
        }
    }

    .foot-copy {
        display: flex;
        margin: 0;
        justify-content: center;
    }
}